<h1 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0s">Contact / Demande de devis</h1>
<div class="row">
	<div class="col-md-5 col-md-offset-1 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
		<h2 class=" wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">Contactez-nous</h2>
		<div class="inner-text">
			<p class="center big-big numéros">06 21 53 91 74 - 06 22 22 21 21</p>
			<div class="center"><a href="mailto:classe-evenement@live.fr" class="red-btn">classe-evenement@live.fr</a></div>
			<p class="center">
			Classe-evenement<br>
			1 Chemin du Roy<br>
			60300 SENLIS
			</p>
			<p class="smaller pull-right">SIRET : 523779445 00015</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-5 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Demande de devis</h2>
		<div class="inner-text">
			<p class="center">Merci de remplir le formulaire en cliquant sur le bouton ci-dessous</p>
			<div class="center"><a class="red-btn big" href ="http://classe-evenement.fr/devis/index.html">Demande de devis</a></div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 encart justify wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
		<div class="inner-text">
			<p>Il est important que vous fournissiez le plus de précision concernant votre évènement afin de nous permettre de mieux comprendre vos attentes et vous fournir un devis précis.</p>
			<p><strong class="center">Type d'événement, date/lieu, durée, nombre d'invités, style musical souhaité...</strong></p>
			<p>N’hésitez pas à nous préciser vos besoins et vos attentes. Nous vous enverrons un devis gratuit dans les plus brefs délais et/ou prendrons contact avec vous pour finaliser votre événement dans les moindres détails.</p>
		</div>
	</div>
</div>
