<h1 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0">Musique</h1>
<div class="row">
	<div class="col-md-12 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<div class="inner-text">
			<p>Nous disposons d'un large choix musical nous permettant de nous adapter à tout type d'évènement. L'ambiance musicale est programée avant votre prestation via notre (nos) entretien(s) de préparation.</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
			<h2 class="blue wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Ambiance cocktail / Vin d'honneur</h2>
			<div class="inner-text">
				<p>Vous pouvez nous contacter à tout moment pour tout renseignement (mail, téléphone, courrier ...). Nous sommes à votre entière disposition pour des échanges de conseils et d'idées</p>
			</div>
		</div>
		<div class="content  wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
			<h2 class="blue wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">Soirée dansante</h2>
			<div class="inner-text">
				<p>Disco, funk, années 80, Rock n Roll / Twist; Madison, Country, danse de salon (valse, tango...)</p>
				<p>House, Pop, Electro, kuduro, RnB/Hip-hop.</p>
			</div>
		</div></div>
	<div class="col-md-6 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
		<h2 class="blue wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">Musique du monde</h2>
		<div class="inner-text">
			<p><strong>Musique latine : </strong>Reggaeton, salsa, merengue, zumba, mambo</p>
			<p><strong>Musique antillaise : </strong>zouk, zouk rétro, compas, soca, musique traditionnelle...</p>
			<p><strong>Musique africaine : </strong>Coupé décalé, ndombolo</p>
			<p><strong>Musique orientale : </strong>Raï, Kabil</p>
		</div>
	</div>
</div>
<div class="row ">
	<div class="encart col-md-10 col-md-offset-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.9s">Vous avez aussi la possibilité de nous fournir une playlist à laquelle nous nous adapterons.</div>
</div>
