<h1 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0s">Les tarifs</h1>
<div class="row">
	<div class="col-md-7 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Formule Soirée - Anniversaire -Baptême<span>A partir de 400€</span></h2>
		<div class="inner-text">
			<ul><li>Prestation de 19h00 à 03h00</li>
						<li>Animation de jeux</li>
						<li>Sonorisation haut de gamme</li>
						<li>Eclairage piste de danse</li></ul>
		</div>
	</div>
	<div class="col-md-5 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Formule Après-midi<span>A partir de 400€</span></h2>
		<div class="inner-text">
			<ul><li>Prestation de 13h00 à 18h00 (modulable)</li>
						<li>Animation de jeux</li>
						<li>Sonorisation haut de gamme</li></ul>
		</div>
	</div>
	<div class="col-md-8 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Formule Confort<span>790€</span></h2>
		<div class="inner-text">
			<ul><li>Disc jockey professionnel pour une prestation de 18h00 à 04h00</li>
						<li>Sonorisation du vin d’honneur</li>
						<li>Installation d’une sonorisation haut de gamme : régie Pioneer, enceintes, micro sans fil…</li>
						<li>Eclairage de la piste de danse : jeux de lumière à LED et scanner</li>
						<li>Machine à fumée</li></ul>
		</div>
	</div>
	<div class="col-md-4 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Formule Excellence<span>890€</span></h2>
		<div class="inner-text">
			<p><strong>Formule confort</strong> avec en plus :</p>
			<ul><li>Eclairage décoratif : 8 projecteurs LED et Laser multipoint</li></ul>
		</div>
	</div>
	<div class="col-md-6 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Formule Prémium<span>990€</span></h2>
		<div class="inner-text">
			<ul><li>Disc jockey pour une prestation à partir de 17h00 et 4h00</li>
						<li>Sonorisation du vin d’honneur</li>
						<li>Eclairage décoratif : 10 projecteurs et laser multipoint,</li>
						<li>Ecran de projection et video projecteur</li>
						<li>Installation d’une sonorisation haut de gamme : régie Pioneer, enceintes, micro sans fil…</li>
						<li>Eclairage de la piste de danse : jeux de lumière à LED et scanner…</li>
						<li>Machine à fumée</li></ul>
		</div>
	</div>
	<div class="col-md-6 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Formule Prestige<span>1190€</span></h2>
		<div class="inner-text">
			<ul><li>Disc jockey pour une prestation à partir de 17h00 à 5h00</li>
						<li>Sonorisation du vin d’honneur</li>
						<li>Eclairage décoratif : 10 projecteurs et laser multipoint,</li>
						<li>Ecran de projection et video projecteur</li>
						<li>Show laser</li>
						<li>Installation d’une sonorisation haut de gamme : régie Pioneer, enceintes, micro sans fil…</li>
						<li>Eclairage de la piste de danse avec systèmes robotisés (lyres) posée sur totem</li>
						<li>Machine à brouillard</li></ul>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2 content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
		<h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">Formule Total<span>sur devis</span></h2>
		<div class="inner-text">
			<ul><li>Disc jockey pour une prestation à partir de 17h00 et SANS LIMITATION HORAIRE</li>
						<li>Sonorisation du vin d’honneur</li>
						<li>Eclairage décoratif : 10 projecteurs et laser multipoint,</li>
						<li>Show laser</li>
						<li>Eclairage décoratif extérieur</li>
						<li>Installation d’une sonorisation haut de gamme : régie Pioneer, enceintes, micro sans fil…</li>
						<li>Eclairage de la piste de danse avec systèmes robotisés (lyres)</li>
						<li>Machine à brouillard</li></ul>
		</div>
	</div>
	<div class="col-md-12 center wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
		<a class="red-btn big" href="http://www.classe-evenement.fr/devis/index.html" ng-click="openOptions=!openOptions" target="_blank"><i class="fa fa-chevron-right"></i> Demander un devis</a>
		<a class="red-btn blue big" ng-click="openOptions=!openOptions" target="_blank"><i class="fa fa-plus"></i> Options et autres prestations</a>
	</div>
	<div class="col-md-12 content" collapse="!openOptions">
		<h2>Options et autres prestations</h2>
		<div class="inner-text">
			<h3 class="blue">Options</h2>
			<br><br>
			<p><strong>Eclairage décoratif extérieur :</strong></p>
			<ul class="ul-with-padding">
				<li>Show laser</li>
				<li>Eclairage de la piste de danse avec systèmes robotisés</li>
			</ul>
			<br>
			<h3 class="blue">Prestations complémentaires</h2>
			<br><br>
			<p><strong>Karaoké :</strong> sur devis</p>
			<p style="margin-left:40px">Pour toutes vos soirées de mariage, anniversaire, baptême, départ à la retraite, fêtes d'entreprises... disposant d'un registre de plus de 1000 titres, nous assurons l'animation pour une ambiance musicale conviviale et une soirée réussie !</p>
			<p><strong>Photographe :</strong> sur devis</p>
			<p style="margin-left:40px">Photographie de tous les moment clefs de votre évènement (des préparatifs à la soirée) - photos en Noir et Blanc ou avec des éffets... différentes formules au choix selon vos souhaits et votre budget.</p>
			<p><strong>Coordinatrice d’évènement</strong> sur devis</p>
			<p style="margin-left:40px">Pour vous permettre de profiter de votre événement en toute sérénité et de surprendre vos invités sans vous soucier de l’organisation, et tout en respectant votre budget.</p>
			<p><strong>Hôtesse d’accueil :</strong> sur devis</p>
			<p style="margin-left:40px">Parce qu'un évènement réussi passe également par un bel accueil, nous vous proposons des hôtesses d'accueil élégantes et dynamiques afin de gérer l'arrivée de vos invités</p>
			<p><strong>Magicien :</strong> sur devis</p>
			<p style="margin-left:40px">Durant le cocktail ou dîner, un magicien passera de manière déambulatoire ou de table en table  pour effectuer ces meilleurs tours : C’est le divertissement idéal pour une ambiance conviviale et pleine de surprises. Vous laisserez à vos invités un souvenir original de votre évènement.</p>
		</div>
	</div>
</div>